<mat-card>

  <h2 Class="alinear">Lista de Pqr</h2>
  <mat-card-header>
    <div>
      <mat-form-field hintLabel="Buscar Pqr" appearance="fill">
        <mat-label>Buscar Pqr</mat-label>
        <input matInput #input>

      </mat-form-field>
    </div>

  </mat-card-header>
  <mat-card-header>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li class="">
          <button mat-raised-button color="primary" (click)="openPqrDialog()">Crear Pqr</button>
        </li>
      </ul>

    </div>
  </mat-card-header>

  <div mat-card-image></div >

  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-cell">

      <!-- id colum -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>N°</th>
        <td mat-cell *matCellDef="let element">{{element.idPqr}}</td>
      </ng-container>

      <!-- asuto colum -->
      <ng-container matColumnDef="asunto">
        <th mat-header-cell *matHeaderCellDef>Asunto</th>
        <td mat-cell *matCellDef="let element">{{element.asunto}}</td>
      </ng-container>

      <!-- cliente colum -->
      <ng-container matColumnDef="clinte">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{element.cliente}}</td>
      </ng-container>

      <!-- nit colum -->
      <ng-container matColumnDef="nit">
        <th mat-header-cell *matHeaderCellDef>Nit</th>
        <td mat-cell *matCellDef="let element">{{element.idCliente}}</td>
      </ng-container>

      <!-- description colum -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
      </ng-container>

      <!-- description colum -->
      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let element">{{element.cliente}}</td>
      </ng-container>

      <!-- Acciones tabla -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element; let i=index">
          <button mat-icon-button color="primary" (click)="edit(element.idPqr, element.asunto, element.descripcion, element.cliente)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="delete(element.idPqr)">
            <mat-icon aria-label="Delete">delete_forever</mat-icon>
          </button>
        </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </mat-card-content>

</mat-card>
