.title{
  text-align: center;
}

.perfil-container{
  margin-top: 60px;
  display:flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

.perfil-container > * {
  width: 100%;
}

.perfil-actions{
  margin-left: 10%;
  margin-right: 10%;
}

.perfil-buttons {
  margin-left: inherit;
}
